<!-- Edit Profile -->
<!-- Modal -->
<div class="modal fade" id="EditModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab"
              aria-controls="personal" aria-selected="true">Personal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="about-tab" data-toggle="tab" href="#about-content" role="tab" aria-controls="about"
              aria-selected="false">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
              aria-selected="false">Social Links</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">

          <!-- Personal Content-->
          <div class="tab-pane active" id="personal" role="tabpanel" aria-labelledby="home-tab">
            <form [formGroup]="PersonalForm" (ngSubmit)="UpdatePersonal()">
              <div *ngIf="successMsg" class="alert alert-info" role="alert">
                {{ successMsg }}
              </div>
              <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>

              <div *ngIf="!userSocial" class="u-form-group">
                <h6>Fullname</h6>
                <div class="input-group mb-3">
                  <input type="text" formControlName="name" class="form-control" value={{username}}
                    aria-label="Fullname">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-user"
                        aria-hidden="true"></i></span>
                  </div>
                </div>
                <div *ngIf="PersonalFormControls.name.invalid" class="help-block">
                  <div>Invalid username</div>
                </div>
              </div>

              <div *ngIf="!userSocial" class="u-form-group">
                <h6>Avatar</h6>
                <div class="input-group mb-3">
                  <div>
                    <img [src]="avatarUrl || socialAvatar" alt="user" class="rounded-circle" id="img-small">
                  </div>
                  <div class="custom-file">
                    <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg" formControlName="avatar"
                      (change)="selectImage($event)" class="custom-file-input" id="inputGroupFile" required>
                    <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                  </div>
                </div>
                <div *ngIf="PersonalFormControls.avatar.invalid" class="help-block">
                  <div>Please choose file</div>
                </div>
              </div>

              <div class="u-form-group">
                <h6>City</h6>
                <div class="input-group mb-3">
                  <input type="text" formControlName="address" class="form-control" value={{address}} aria-label="City">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-bullseye"
                        aria-hidden="true"></i></span>
                  </div>
                </div>
                <div *ngIf="PersonalFormControls.address.invalid" class="help-block">
                  <div>Invalid city</div>
                </div>
              </div>

              <div class="u-form-group">
                <h6>Phone</h6>
                <div class="input-group mb-3">
                  <input type="text" formControlName="phone" class="form-control" value={{phone}}>
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-phone"
                        aria-hidden="true"></i></span>
                  </div>
                </div>
                <div *ngIf="PersonalFormControls.phone.invalid" class="help-block">
                  <div>Invalid phone number</div>
                </div>
              </div>

              <div class="u-form-group">
                <h6>Website</h6>
                <div class="input-group mb-3">
                  <input type="text" formControlName="website" class="form-control" value={{website}}>
                </div>
                <div *ngIf="PersonalFormControls.website.invalid" class="help-block">
                  <div>Invalid website address</div>
                </div>
              </div>

              <!-- <button type="button" class="btn btn-info" (click)="SendFile()">Send File</button> -->

              <button type="submit" class="btn btn-primary" [disabled]="!PersonalForm.valid">Save</button>

            </form>
          </div>

          <!-- About Content-->
          <div class="tab-pane fade" id="about-content" role="tabpanel" aria-labelledby="profile-tab">
            <form [formGroup]="AboutForm" (ngSubmit)="UpdateAbout()">
              <div *ngIf="successMsgAbout" class="alert alert-info" role="alert">
                {{ successMsgAbout }}
              </div>
              <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>
              <label> Write a few words that describe you</label>
              <textarea style="margin-bottom: 20px;" class="form-control" formControlName="about" value={{about}}
                aria-label="With textarea"></textarea>
              <div *ngIf="AboutFormControls.about.invalid" class="help-block">
                <div>The Description at least 20 characters</div>
              </div>
              <input type="checkbox"> View profile
              <button [disabled]="!AboutForm.valid" type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>

          <!-- Social Link Content -->
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            <form [formGroup]="SocialForm" (ngSubmit)="UpdateSocial()">
              <!-- Notify -->
              <div *ngIf="successMsgSocial" class="alert alert-info" role="alert">
                {{ successMsgSocial }}
              </div>
              <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>

              <!-- facebook -->
              <div class="input-group mb-3">
                <input type="text" formControlName="facebook" class="form-control" placeholder="Facebook" value={{facebook}}>
                <div class="input-group-prepend">
                  <span style="background: #3b5998;color: white;padding-left: 15px;width: 41px;"
                    class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div *ngIf="SocialFormControls.facebook.invalid" class="help-block">
                <div>Facebook address is required</div>
              </div>

              <!-- google -->
              <div class="input-group mb-3">
                <input type="text" formControlName="google" class="form-control" placeholder="Google" value={{google}}>
                <div class="input-group-prepend">
                  <span style="background: #db4437;color: white;" class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div *ngIf="SocialFormControls.google.invalid" class="help-block">
                <div>Google address is required</div>
              </div>

              <!-- youtube -->
              <div class="input-group mb-3">
                <input type="text" formControlName="youtube" class="form-control" placeholder="Youtube" value={{youtube}}>
                <div class="input-group-prepend">
                  <span style="background: #cd201f;color: white;" class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div *ngIf="SocialFormControls.youtube.invalid" class="help-block">
                <div>Youtube address is required</div>
              </div>

              <!-- instagram -->
              <div class="input-group mb-3">
                <input type="text" formControlName="instagram" class="form-control" placeholder="Instagram">
                <div class="input-group-prepend">
                  <span style="background: #3f729b;color: white;" class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <!-- twitter -->
              <div class="input-group mb-3">
                <input type="text" formControlName="twitter" class="form-control" placeholder="Twitter">
                <div class="input-group-prepend">
                  <span style="background: #55acee;color: white;" class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <!-- linkedin -->
              <div class="input-group mb-3">
                <input type="text" formControlName="linkedin" class="form-control" placeholder="Linkedin">
                <div class="input-group-prepend">
                  <span style="background: #0077b5;color: white;" class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <!-- globe -->
              <div class="input-group mb-3">
                <input type="text" formControlName="globe" class="form-control" placeholder="Globe">
                <div class="input-group-prepend">
                  <span style="background: #ea4c89;color: white;" class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <!-- whatsapp -->
              <div class="input-group mb-3">
                <input type="text" formControlName="whatsapp" class="form-control" placeholder="Whatsapp">
                <div class="input-group-prepend">
                  <span style="background: #43d854;color: white;" class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <button [disabled]="!SocialForm.valid" type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>