
<!-- Modal Right Profile -->
<div class="modal right fade" style=" overflow-y: scroll" id="myModalProfileUsers" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel2">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header my-2">
        <h4 class="modal-weight" style="padding-left: 10px;">Profile Users</h4>

        <button type="button" class="fa fa-times" data-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div *ngFor="let user of profileUsers" class="modal-body">

        <div class="text-center">
          <img class="rounded-circle" id="img-profile" [src]="user.avatar"/>
          <h4>{{user.name}}</h4>
        </div>


        <div class="tab-content" id="myTabContent">

          <!-- About -->
          <div class="tab-pane active" id="about" role="tabpanel" aria-labelledby="about-tab">
            <div>
              <p>{{user.about}}</p>
            </div>

            <ul class="list-group">
              <h6>Email</h6>
              <li class="list-group text-muted">{{ user.email }}</li><br>
              <h6>Date of birth</h6>
              <li class="list-group text-muted">{{user.date_of_birth | date }}</li><br>
              <h6>Gender</h6>
              <li class="list-group text-muted">{{user.gender }}</li><br>
              <h6>Phone</h6>
              <li class="list-group text-muted">{{ user.phone }}</li><br>
              <h6>City</h6>
              <li class="list-group text-muted">{{ user.address}}</li><br>
              <h6>Website</h6>
              <li class="list-group text-muted">{{ user.website }}</li><br>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
