<header class="main-header">
  <nav class="navbar navbar-expand-lg navbar-light w-100">
    <div id="logo">
      <a href="#">
        <img src="../../../assets/images/logo_hz.png" alt="logo">
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#" data-toggle="modal" data-target="#myModalProfile">Profile<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Friends</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Favorites</a>
        </li>
      </ul>

      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-video-camera" data-toggle="modal" data-target="#ModalCenter-Video" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-phone" data-toggle="modal" data-target="#ModalCenter" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      
      <div class="header-right">
        <div class="dropdown ml-auto">
          <a href="#" data-toggle="dropdown">
            <span class="mr-2 d-none d-sm-inline-block text-white">{{profile ? profile.name : ''}} </span>
            <figure class="avatar">
              <img [src]="profile ? profile.avatar : '../../../assets/images/users.jpg'" class="rounded-circle" alt="image">
              <!-- '../../../assets/images/th.jpg' -->
            </figure>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item" data-navigation-target="contact-information" data-toggle="modal"
              data-target="#myModalProfile">Profile</a>
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#settingModal">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cursor-pointer text-primary" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<app-profile></app-profile>

<div class="row h-100 w-100 rounded-lg overflow-hidden shadow">
  <app-chat-left class="col-4 px-0" [UserId]="userId"></app-chat-left>
  <app-chatbox-right class="col-8 px-0" [profile]="profile" [username]="username" [userId]="userId"></app-chatbox-right>
</div>