<header class="main-header">
  <nav class="navbar navbar-expand-lg navbar-light w-100">
    <div id="logo">
      <a href="#">
        <img src="../../../assets/images/logo_hz.png" alt="logo">
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#" data-toggle="modal" data-target="#myModalProfile">Profile<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Friends</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Favorites</a>
        </li>
      </ul>

      <div class="header-right">
        <div class="dropdown ml-auto">
          <a href="#" data-toggle="dropdown">
            <span class="mr-2 d-none d-sm-inline-block text-white">{{user ? user.name : username }} </span>
            <figure class="avatar">
              <img [src]="user ? user.photoUrl : avatar" class="rounded-circle" alt="image">
              <!-- '../../../assets/images/th.jpg' -->
            </figure>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item" data-navigation-target="contact-information" data-toggle="modal"
              data-target="#myModalProfile">Profile</a>
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#settingModal">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cursor-pointer text-primary" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<app-profile [username]="username" [userId]="user ? user.id : userId" [about]="about" [avatar]="avatar"
  [socialAvatar]="user? user.photoUrl : avatar" [address]="address" [phone]="phone" [website]="website" [facebook]="facebook"
  [google]="google" [youtube]="youtube"></app-profile>
<div class="row h-100 w-100">
  <!-- [userId]="user ? user.id : userId" [email]="email" -->
  <app-chat-left></app-chat-left>
</div>