#img-profile {
  /*position: absolute;*/
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  padding: 2px;
}

#img-small {
  /*position: absolute;*/
  margin-bottom: -11px;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
  width: 50px !important;
  height: 50px !important;
  background-color: rgb(255, 255, 255);
  padding: 2px;
}

.profile-box {
  float: right;
  background-color: #ffffff;
  width: 25%;
  height: 100%;
  overflow: scroll;
  z-index: 99;
}
.profile-bg {
  height: 50px;
  background-color: rgba(54, 162, 177, 0);
}
.nav {
  margin: 20px 10px;
}
.list-group-item {
  text-align: left;
}
#about {
  padding: 40px 20px !important;
  text-align: left;
  display: none;
  font-size: 12px;
}
/* #about-tab{display: none;} */
#media {
  padding: 20px 20px !important;
  font-size: 12px;
}
.list-group-item label {
  padding: 0px 10px;
  color: #409cff;
}

.btn-primary {
  float: right !important;
  margin-top: 50px;
}

.fa-times{
  background-color: #fd397a !important ;
  color: white !important;
  font-size: 20px !important;
  padding: 5px;
}
.fa-times:hover{
  font-size: 22px !important;
}

.fa-pencil{
  border: 1px solid #ddd !important;
  padding: 5px !important;
  font-size: 15px !important;
}
.fa-pencil:hover{
  font-size: 20px !important;
}
.modal-content{
   margin-top: 35px !important;
 }

 /* ----- Modal Right ------ */

 .modal.right .modal-dialog {
  float: right !important;
  width: 25%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  overflow-y: auto;
  margin-top: 30px;
  height: 800px;
}

.modal.right .modal-body {
  padding: 15px 15px 20px;
}

      
/*Right*/
.modal.right.fade .modal-dialog {
  /* right: -320px; */
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
} 