<!-- Profile  -->
<div class="text-center border rounded-0 shadow-sm profile-box">
  <div style="text-align: left;">
    <ul class="nav">
      <li class="col">
        <h4 class="modal-weight">Profile</h4>
      </li>
      <li class="col"></li>
      <li class="col"></li>
      <li class="col"></li>
      <li class="col"></li>

      <li class="col">
        <!-- Button trigger modal -->
        <i class="fa fa-pencil" data-toggle="modal" data-target="#exampleModalCenter" aria-hidden="true"></i>

      </li>
      <li class="col">
        <i class="fa fa-times" data-dismiss="modal" aria-label="Close" aria-hidden="true"></i>
      </li>
    </ul>
  </div>

  <div>
    <img class="rounded-circle" id="img-profile" src="./../../../../assets/images/th.jpg" />
  </div>
  <div style="height: 80px; margin-top: 20px;">
    <h4>{{ username }}</h4>
    <p style="font-size: 12px;">Profile Description</p>

    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="{{ isTab ? 'nav-link' : 'nav-link active' }}" href="#" (click)="changeAction()">About</a>
      </li>
      <li class="nav-item">
        <a class="{{ isTab ? 'nav-link active' : 'nav-link' }}" href="#" (click)="changeAction()">Media</a>
      </li>
    </ul>
  </div>

  <div id="about">
    <div>
      <p>{{about}}</p>
    </div>

    <ul class="list-group">
      <h6>Email</h6>
      <li class="list-group text-muted">{{ email }}</li><br>
      <h6>Phone</h6>
      <li class="list-group text-muted">{{ phone }}</li><br>
      <h6>City</h6>
      <li class="list-group text-muted">{{ address }}</li><br>
      <h6>Website</h6>
      <li class="list-group text-muted">{{ website }}</li><br>
    </ul>
  </div>

  <div id="media">
    <div>
      <ul class="nav">
        <li class="col">Recent Files</li>
        <li class="col" style="color:#409cff;"> 
          <i class="fa fa-upload" aria-hidden="true"> Upload</i> 
        </li>
      </ul>
    </div>

    <div>
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fa fa-file" aria-hidden="true"></i> <label>Report</label>
        </li>
        <li class="list-group-item">
          <i class="fa fa-file-image-o" aria-hidden="true"></i>
          <label>Image</label>
        </li>
        <li class="list-group-item">
          <i class="fa fa-file-word-o" aria-hidden="true"></i>
          <label>Word</label>
        </li>
        <li class="list-group-item">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          <label>Excel</label>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-edit [username]="username" [userId]="userId" [email]="email" [about]="about" [website]="website" [address]="address" [phone]="phone">
</app-edit>