#img-profile {
  /*position: absolute;*/
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  padding: 2px;
}

.profile-box {
  float: right;
  background-color: #ffffff;
  margin-top: 50px;
  width: 25%;
  height: 600px;
  overflow-y: scroll;
  z-index: 99;
}
.profile-bg {
  height: 50px;
  background-color: rgba(54, 162, 177, 0);
}
.nav {
  margin: 20px 10px;
}
.list-group-item {
  text-align: left;
}
#about {
  padding: 60px 30px !important;
  text-align: left;
  /* display: none; */
  font-size: 14px;
}
#media {
  padding: 40px 20px !important;
  font-size: 14px;
  display: none;
}

.list-group-item label {
  padding: 0px 10px;
  color: #409cff;
}

.btn-primary {
  float: right !important;
  margin-top: 50px;
}

.fa-times{
  background-color: #fd397a !important ;
  color: white !important;
  font-size: 20px !important;
  padding: 5px;
}
.fa-times:hover{
  font-size: 22px !important;
}

.fa-pencil{
  border: 1px solid #ddd !important;
  padding: 5px !important;
  font-size: 15px !important;
}
.fa-pencil:hover{
  font-size: 20px !important;
}

.modal-open .modal{
  overflow-y: hidden !important;
}


 