<!-- Call Box -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>

      <div class="text-center modal-body">
        <div>
          <img class="rounded-circle" id="img-profile" src="./../../../assets/images/th.jpg" />
        </div>
        <div>
          <h4>Thanh Hai <span style="color: #26a69a;">Calling</span> </h4>
        </div>
        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-times-circle" data-dismiss="modal" aria-label="Close"
                  aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a id="video-camera" class="nav-link rounded-circle" data-dismiss="modal" aria-label="Close"
                data-toggle="modal" data-target="#ModalCenter-Video"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Video Call -->
<div class="modal fade" id="ModalCenter-Video" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle-Video"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>

      <div class="text-center modal-body">
        <div>
          <img class="rounded-circle" id="img-profile" src="./../../../assets/images/th.jpg" />
        </div>
        <div>
          <h4>Thanh Hai <span style="color: #26a69a;">Video Calling</span> </h4>
        </div>

        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-times-circle" data-dismiss="modal" aria-label="Close"
                  aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a id="phone-call" class="nav-link rounded-circle" data-dismiss="modal" aria-label="Close"
                data-toggle="modal" data-target="#ModalCenter"><i class="fa fa-phone " aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>