<!-- Chat Box-->
<div class="conv w-100">
  <div class="col-md-12 px-0 ">
    <div class="chat-box ">
      <div *ngIf='!messageLoading'>

        <!-- Receiver Message-->
        <div #messageThread *ngIf="messages.length !== 0">
          <div *ngFor="let message of messages">
            <div class="msg" *ngIf="selectedUser._id === message.senderId">
              <div *ngIf="userId === message.receiverId">
                <div class="media w-100 mb-3">
                  <img [src]="selectedUser.avatar" alt="user" width="40" height="40" class="rounded-circle">
                  <div class="media-body">
                    <span class="namemsg">{{selectedUser.name}}</span>
                    <div class="bg-light rounded py-2 px-3 mb-2">
                      <p class="text-small mb-0 text-black"> {{message.message}}</p>
                    </div>
                    <p class="small text-muted"> {{message.sendtime | date:'shortTime'}} <i class="fa fa-check"
                        aria-hidden="true"></i></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sender Message-->
            <div *ngIf="selectedUser._id === message.receiverId" class="align-right">
              <div *ngIf="userId === message.senderId">
                <div class="media w-100 mb-3">
                  <div class="media-body">
                    <span class="namemsg">{{message.username}} </span>
                    <div class="bg-primary rounded py-2 px-3 mb-2">
                      <p class="text-small mb-0 text-black">{{message.message}}</p>
                    </div>
                    <p class="small text-muted">{{message.sendtime | date:'shortTime' }} <i class="fa fa-check"
                        aria-hidden="true"></i></p>
                  </div>
                  <img [src]="user ? user.avatar : ''" alt="user" width="40" height="40" class="rounded-circle">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Typing area -->
  <div class="bg-light">
    <div class="input-group">

      <div class="input-group-append">
        <div class="btn-group dropup">
          <button type="button" (click)="toggleEmojiPicker()" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown">
            <i class="fa fa-smile-o" aria-hidden="true"> </i>
          </button>
        </div>
      </div>

      <div class="input-group-append w-98 pr-5">
        <form [formGroup]="MsgForm">
          <input #message type="text" placeholder="Write a message" [(ngModel)]="messageEmoji" formControlName="message"
            (keyup.enter)="sendMessage(message.value)" class="form-control rounded-0 border-0 py-0 bg-light">
        </form>
      </div>
      <emoji-mart [darkMode]="darkMode" class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker"
        (emojiSelect)="addEmoji($event)" title="Pick your emoji…" emoji="point_up">
      </emoji-mart>

      <div class="input-group-append">
        <button class="btn btn-light">
          <i class="btn fa fa-paperclip text-center pr-1"></i>
        </button>
      </div>

      <div class="input-group-append">
        <button class="btn btn-light">
          <i class="fa fa-microphone" aria-hidden="true"></i>
        </button>
      </div>

      <div class="input-group-append">
        <button id="button-addon2" type="submit" (click)="sendMessage(message.value)" class="btn btn-info">
          <i class="fa fa-paper-plane"></i></button>
      </div>

    </div>
  </div>

</div>