<!--Users box-->
<div class="chat-list w-30" >
	<div class="px-4 py-1 bg-light">
		<p class="h5 px-1 py-1">Chats</p>
	</div>

	<div class="search-container">
		<input class="search-input" placeholder="Search" type="text">
	</div>

	<div class="messages-box">
		<div class="list-group rounded-0">
			<!--   -->
			<div *ngFor="let user of chatListUsers" (click)="selectedUser(user)"
				[class.select]="isUserSelected(user.id)"
				class="list-group-item list-group-item-action list-group-item-light rounded-0">
				<div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
						alt="user" width="40" class="rounded-circle">
					<span [ngClass]="user.status === 'active' ? 'active' : 'offline'"></span>
					<div class="media-body ml-4">
						<div class="d-flex align-items-center justify-content-between mb-1">
							<h6 class="mb-0">
								{{user.name}}
							</h6>
							<small class="small font-weight">Dec 25</small>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-1">
							<p class="font-italic text-small">Lorem ipsum dolor sit amet</p>
							<div class="dropdown">
								<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									...
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Open</a>
									<a class="dropdown-item" data-toggle="modal" data-target="#myModalProfileUsers"
									(click)="ProfileUsers()" href="#">Profile</a>
									<a class="dropdown-item" href="#">Favorite</a>
									<a class="dropdown-item" style="color: red;border-top:1px solid #ddd ;"
										href="#">Delete</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

	<button class="btn btn-primary" data-toggle="modal" data-target="#myModal2" type="button">New Chat</button>

</div>

<!-- New chat -->
<div class="container demo">
	<!-- Modal Right -->
	<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-weight" id="myModalLabel2">New Chat</h4>

					<i style="margin-left: 60px" class="fa fa-users" data-toggle="modal"
						data-target="#ModalCenter-chatlist" aria-hidden="true"></i>

					<button type="button" class="fa fa-times" data-dismiss="modal" aria-label="Close">
					</button>
				</div>

				<div>
					<input class="search-input" placeholder="Search" type="text">
				</div>

				<div class="modal-body">
					<div *ngFor="let user of chatListUsers" (click)="selectedUser(user)"
						[class.select]="isUserSelected(user.id)"
						class="list-group-item list-group-item-action list-group-item-light rounded-0">
						<div class="media"><img
								src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
								alt="user" width="40" class="rounded-circle">
							<span [ngClass]="user.status === 'active' ? 'active' : 'offline'"></span>
							<div class="media-body ml-4">
								<div class="d-flex align-items-center justify-content-between mb-1">
									<h6 class="mb-0">
										{{user.name}}
									</h6>
									<div class="dropdown">
										<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											...
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="#">New chat</a>
											<a class="dropdown-item" href="#">Profile</a>
											<a class="dropdown-item" href="#"
												style="color: red;border-top:1px solid #ddd">Block</a>
										</div>
									</div>
								</div>
								<div class="d-flex align-items-center justify-content-between mb-1">
									<p class="font-italic text-small">Lorem ipsum dolor sit amet</p>

								</div>

							</div>
						</div>
					</div>
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->
</div>

<!-- Modal New Group -->
<div class="modal fade" style="overflow-y: hidden !important;" id="ModalCenter-chatlist" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">
					<i class="fa fa-users" aria-hidden="true"></i>New Group</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-group">
					<div class="u-form-group">
						<span>Group name</span>
						<div class="input-group mb-3">
							<input type="text" formControlName="group-name" class="form-control" placeholder=''
								aria-label="group-name">
							<div class="input-group-prepend">
								<span class="input-group-text" id="addon-wrapping"><i class="fa fa-smile-o"
										aria-hidden="true"></i></span>
							</div>
						</div>
					</div>

					<div class="u-form-group">
						<span>The group members</span>
						<div class="input-group mb-3">

							<img id="addon-wrapping" src="./../../../../assets/images/th.jpg" alt="user" width="30"
								class="rounded-circle">
							<img id="addon-wrapping" src="./../../../../assets/images/th.jpg" alt="user" width="30"
								class="rounded-circle">
							<img id="addon-wrapping" src="./../../../../assets/images/th.jpg" alt="user" width="30"
								class="rounded-circle">
							<img id="addon-wrapping" src="./../../../../assets/images/th.jpg" alt="user" width="30"
								class="rounded-circle">

						</div>
					</div>
					<div class="u-form-group">
						<label>Description</label>
						<input type="text" class="form-control" style="height: 60px !important; margin-bottom: 10px;">
					</div>
					<button type="submit" id="btn-primary" class="btn">Create Group</button>
				</form>
			</div>
		</div>
	</div>
</div>

<app-profile-users [selectedUserId]="selectedUserId" [nameusers]="nameusers" [email]="email" [phone]="phone"
[about]="about" [address]="address" [website]="website"></app-profile-users>
<!-- [selectedUserId]="selectedUserId" [nameusers]="nameusers" [email]="email" [phone]="phone"
[about]="about" [address]="address" [website]="website" -->